@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgba(34, 67, 171, 0.7); 
}

span {
    font-size: .9rem;
    color: #878585;
}

h6 {
    font-size: 1.1rem;
    color: rgb(30, 31, 59);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 4vw;
    box-shadow: 3px 3px 12px rgba(10, 10, 10, 0.5);
    background-color: black;
    
}

nav img {
    width: 150px;
    cursor: pointer;
}

nav .Navigation {
    display: flex;

}

#menu-button {
    width: 30px;
    height: 30px;
    display: none;
}

#menu-close {
    display: none;
}

nav .Navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .Navigation ul li {
    list-style: none;
    margin: 10px;
}

nav .Navigation ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .Navigation ul li a:hover {
    color: rgb(250, 125, 0);
}

#home {
    background-image: linear-gradient(rgba(32, 56, 82, 0.3), rgba(16, 18, 138, 0.4)), url(20.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home h2 {
    color: white;
    font-size: 2rem;
    letter-spacing: 1px;
}

#home p {
    width: 50%;
    color: rgb(203, 3, 3);
    text-decoration: solid;
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 25px;
    text-align: center;
}

#home .button {
    margin-top: 30px;
}

#home a {
    text-decoration: none;
    font-size: 1rem;
    padding: 15px 40px;
    background: white ;
    font-weight: 600;
    border-radius: 5px;
}

#home a.powderblue {
    color: #fff;
    background: rgb(30, 31, 59);
    transition: 0.4s ease;
}

#home a.powderblue:hover {
    color: rgb(30, 31, 59);
    background: #fff;
}

#home a.tomato {
    color: #fff;
    background: rgb(250, 125, 0);
    transition: 0.4s ease;
}

#home a.tomato:hover {
    color: rgb(250, 125, 0);
    background: #fff;
}



footer{
    background-color: rgb(12, 12, 12);
}
.footer-container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.link-lists ul{
    margin-bottom: 10px;
    list-style: none;
}
.link-lists ul li{
    font-size: 16px;
    margin-bottom: 5px;
}
.link-lists ul li:hover{
    border-bottom: 1px solid white;
    transition: .0.2s ease-in-out;
    transition: .0.2s ease-in-out;
}
.link-lists a{
    text-decoration: none;
    color: white;
}
.link-lists h3{
    margin-bottom: 30px;
}
.news-letter h3{
    margin-bottom: 15px;
}
.news-letter input{
    border-radius: 0;
    padding: 5px;
    padding-left: 40px;
    border: none;
    
}
.icon-container{
    display: flex;
    gap: 15px;
    font-size: 32px;
    justify-content: space-between;
}
.icon-container a{
    text-decoration: none;
    color: white;
}



@media (max-width: 811px) {
    nav {
        padding: 15px 20px;
    }
    nav img {
        width: 130px;
    }
    #menu-button {
        display: initial;
    }
    #menu-close {
        display: initial;
        font-size: 1.6rem;
        color: white;
        padding: 30px 0 20px 20px;
    }
    nav .Navigation ul {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background: rgba(17, 20, 104, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.4s ease;
    }
    nav .Navigation ul.active {
        right: 0px;
    }
    nav .Navigation ul li {
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }
    nav .Navigation ul li a {
        color: #fff;
    }
    #home {
        padding-top: 0px;
    }
    #home p {
        width: 90%;
    }
    #features {
        padding: 8vw 4vw 0 4vw;
    }
    #visual-pack {
        padding: 8vw 4vw 0 4vw;
    }
    #resgistration {
        padding: 6vw 4vw 6vw 4vw;
    }
    #resgistration .reminder .time {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    #experts {
        padding: 8vw 8vw 4vw 8vw;
        text-align: center;
    }
    footer .copyright .pro-links {
        margin-top: 20px;
    }
}

@media (max-width: 437px) {
    #resgistration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #resgistration .reminder .time {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}