*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f3f3f3;
    font-family: 'Poppins',sans-serif;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 4vw;
    box-shadow: 3px 3px 12px rgba(10, 10, 10, 0.5);
    background-color: black;
    
}

nav img {
    width: 150px;
    cursor: pointer;
}

nav .Navigation {
    display: flex;

}

#menu-button {
    width: 30px;
    height: 30px;
    display: none;
}

#menu-close {
    display: none;
}

nav .Navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .Navigation ul li {
    list-style: none;
    margin: 10px;
}

nav .Navigation ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .Navigation ul li a:hover {
    color: rgb(250, 125, 0);
}
.menu{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
}
.heading{
    background-color: rgb(77, 112, 176);
    color: #ffffff;
    margin-bottom: 30px;
    padding: 120px 0 30px 0;
    grid-column: 1/-1;
    text-align: center;
}
.heading>h1{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.heading>h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}
.health-items{
    display: block;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
}
.health-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 700;
    font-size: relative;
}
.price{
    text-align: right;
}
.details>p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}
.details>button{
    background-color: #cb202d;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
}

footer{
    background-color: rgb(12, 12, 12);
}
.footer-container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.link-lists ul{
    margin-bottom: 10px;
    list-style: none;
}
.link-lists ul li{
    font-size: 16px;
    margin-bottom: 5px;
}
.link-lists ul li:hover{
    border-bottom: 1px solid white;
    transition: .0.2s ease-in-out;
    transition: .0.2s ease-in-out;
}
.link-lists a{
    text-decoration: none;
    color: white;
}
.link-lists h3{
    margin-bottom: 30px;
}
.news-letter h3{
    margin-bottom: 15px;
}
.news-letter input{
    border-radius: 0;
    padding: 5px;
    padding-left: 40px;
    border: none;
    
}
.icon-container{
    display: flex;
    gap: 15px;
    font-size: 32px;
    justify-content: space-between;
}
.icon-container a{
    text-decoration: none;
    color: white;
}



@media (max-width: 811px) {
    nav {
        padding: 15px 20px;
    }
    nav img {
        width: 130px;
    }
    #menu-button {
        display: initial;
    }
    #menu-close {
        display: initial;
        font-size: 1.6rem;
        color: white;
        padding: 30px 0 20px 20px;
    }
    nav .Navigation ul {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background: rgba(17, 20, 104, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.4s ease;
    }
    nav .Navigation ul.active {
        right: 0px;
    }
    nav .Navigation ul li {
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }
    nav .Navigation ul li a {
        color: #fff;
    }
    #home {
        padding-top: 0px;
    }
    #home p {
        width: 90%;
    }
    #features {
        padding: 8vw 4vw 0 4vw;
    }
    #visual-pack {
        padding: 8vw 4vw 0 4vw;
    }
    #resgistration {
        padding: 6vw 4vw 6vw 4vw;
    }
    #resgistration .reminder .time {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    #experts {
        padding: 8vw 8vw 4vw 8vw;
        text-align: center;
    }
    footer .copyright .pro-links {
        margin-top: 20px;
    }
}

@media (max-width: 437px) {
    #resgistration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #resgistration .reminder .time {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}